<h2>Edit your personal data</h2>

   <img id="avatar" src={{thisUser.imageURL}}>

     
<form action='/private/myprofile/edit/{{thisUser._id}}' method='POST' enctype="multipart/form-data">


  <input type='text' name='username' value="{{thisUser.username}}">

  <label for='email'>Email</label>
  <input type='text' name='email' value="{{thisUser.email}}">

  <label for='password'>Password</label>
  <input type='password' name='password' value="{{thisUser.password}}" >

   <label for='avatar'>Avatar</label>
  <input type='file' name='image'>

  <a href="/private/myprofile"><button type='submit'>Submit</button></a>


</form>