<h2 class="edit-title">Edit your personal data</h2>
<div class= "profile-avatar">
<div>
   <img class="avatar" src={{thisUser.imageURL}}>
</div>
<form action='/private/myprofile/edit/{{thisUser._id}}' method='POST' enctype="multipart/form-data">
 <div class= "fields">
   <label for='email'>Username</label>
  <input type='text' name='username' value="{{thisUser.username}}">
  <label for='email'>Email</label>
  <input type='text' name='email' value="{{thisUser.email}}">
  <label for='password'>Password</label>
  <input type='password' name='password' value="{{thisUser.password}}" >
   <label for='avatar'>Avatar</label>
  <input type='file' name='image'>
  </div>
  <a href="/private/myprofile"><button class="submit-button" type='submit'>Submit</button></a>
</form>
</div>




