<div id="general-container">


<div id="favorites">
    <h1>Favorite Recipes</h1>
    {{!-- APPLY CHART  --}}
   {{!-- {{#each allRecipes}}
<li>
{{this.name}}
<a href="/recipes/{{this._id}}"><img id="recipe-img" src="{{this.imageURL}}"></a>
</li>
{{/each}} --}}

</div>


<div id="myrecipes">
    <h1>My created recipes</h1>
     {{#each newRecipe}}
    <li>{{this.name}}
<a href="/recipes/{{this._id}}"><img id="recipe-img" src="{{this.imageURL}}"></a>
</li>

{{/each}}

    <a href="/private/favorites/create"><button>Add a new recipe</button></a>
    
</div>


</div>